.form {
  margin: 0 auto;
  padding: 20px;
  border-radius: 8px;
  margin-top: 10vh;
  width: 40%;
}

.form > *:not(:last-child) {
  margin-bottom: 30px; /* Adjust this value according to your design needs */
}

.textInput {
  cursor: pointer;
  width: 100%;
  padding: 10px 15px;
  margin: 15px 0;
  border: none;
  border-bottom: 2px solid #0070f3;  /* Sleek underline style */
  border-radius: 0;  /* Rectangular style, no rounded corners */
  background-color: transparent;
  color: #FFF;
  appearance: none; 
  transition: border-bottom-color 0.3s ease;  /* Smooth transition for the underline */
  font-size: 20px;
  font-weight: 300;  /* Light font weight */
}

.textInput:focus {
  outline: none;
  border-bottom-color: #FFF;  /* Underline turns white on focus */
  box-shadow: none;
}

.submitButton {
  font-size: 20px;
  display: block;
  margin-top: 20px;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  background-color: #0070f3;
  color: #FFF;
  cursor: pointer;
  transition: background-color 0.3s ease-out; 
  font-weight: 700;  /* Bold font weight */
}

.submitButton:hover, .submitButton:focus {
  background-color: #005ecb; 
  color: #FFF;
}