.container {
  position: absolute;
  overflow-x: hidden;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--primary-white);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: var(--primary-dark);
  width: var(--content-width);
  box-shadow: var(--box-shadow);
  margin-top: 15px;
  margin-bottom: 30px;
  border-radius: 30px;
  padding: 10px;
  padding-left: 4vw;
  padding-right: 4vw;

  transition: all ease 0.3s;
}

.headerScrolled {
  position: fixed;
  top: 0px;
  width: 100%;
  padding: 5px;
  padding-left: 3rem;
  padding-right: 3rem;
  backdrop-filter: blur(10px);
  z-index: 1000;
  margin-top: 0 !important;
  border-radius: 0;
}

.containerScrolled {
  width: 100%;
  background: rgba(255, 255, 255, 0.8);
  transition: background 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title {
  margin: 0;
  padding: 0;
  color: var(--primary-dark) !important;
  /* background: var(--primary-white) !important; */
  font-size: 62px;
}

.desktopNav {
  display: flex;
  font-size: 24px;
  font-weight: 400;
  white-space: pre;
  gap: 4vw;
}

.activeLink {
  font-weight: 700;
  text-decoration: underline;
}