.propertyBox {
  border: 3px solid #0070f3;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;  /* Adjusts children to be stacked vertically */
  gap: 10px;
}

.propertyBox h3 {
  padding: 5px; 
  margin: 0;
}

.statusRow {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
}

.statusRow h2 {
  padding: 0;
  margin: 0;
}

.propertyName {
  color: #0070f3;
  border-radius: 4px;
  padding: 5px;
}

.listContainer {
  list-style-type: none; /* Removes bullet points */
  padding-left: 0; /* Removes default padding */
}

.dataBox {
  border: 1px solid ivory;
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
}

.timestampHeader {
  color: #0070f3;
  margin-bottom: 5px;  /* Spacing between the timestamp header and the content */
}

.textResult {
  padding: 5px;
  white-space: pre-line;
}