.propertyBox {
  border: var(--border);
  width: 100%;
  padding-left: 60px;
  padding-top: 40px;
  padding-right: 60px;
  display: flex;
  flex-direction: column;
  gap: 10px;

  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  color: var(--primary-dark);

  border-radius: 30px;
  background: var(--primary-white);

  position: relative;
  margin-top: 2.5vh;
  border: 2px solid var(--primary-white);
  cursor: pointer;
  box-shadow: var(--box-shadow);
}

.propertyBox:hover {
  box-shadow: 0px 4px 14px 7px rgba(255, 255, 240, 0.25);
  border: 2px var(--primary-dark) solid;
}

.openedPropertyBox {
  box-shadow: 0px 4px 14px 7px rgba(255, 255, 240, 0.25);
  border: 2px var(--primary-dark) solid;
}

.side {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-start;
  text-align: left;
  gap: 20px;
}

.sideLeft {
  display: flex;
  flex-direction: column;
  justify-content: flex-start; 
  align-items: flex-end;
  text-align: right;
  gap: 20px;
}

.closedCardRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 40px;
}

.cardWrapper {
  width: 100%;
  height: 100%;
}

.propertyBox h3 {
  padding: 5px; 
  margin: 0;
}

.statusRow {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 24px;
}

.statusRow h2 {
  padding: 0;
  margin: 0;
}

.listContainer {
  padding-left: 0;
}

.dataBox {
  border-radius: 4px;
  margin-top: 10px;
  padding: 10px;
  width: 90%;
}

.dataBox {
  display: flex;
}

.index {
  flex-shrink: 0; /* Prevents h1 from shrinking */
  margin-right: 20px; /* Space between the index and the content */
  font-size: 38px; /* Adjust size as needed */
  align-self: flex-start; /* Aligns to the top of its container */
}

.sectionTitle {
  margin-top: 10px;
  font-size: 26px;
  color: var(--primary-dark)
}

.content {
  display: flex;
  flex-direction: column; /* Stacks children vertically */
}

.timestampHeader {
  color: var(--primary-dark);
  padding: 10px;
}

.textResult {
  padding: 10px;
  white-space: pre-line;
  border: none;
}

.propertyDropdown {
  background-color: var(--primary-white);
  padding: 20px;
  padding-bottom: 30px;
  padding-left: 30px;
  padding-right: 30px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  box-shadow: 0px 4px 14px 7px rgba(255, 255, 240, 0.25);
  border: 2px var(--primary-dark) solid;
  border-top: none;
}

.propertyDropdown ::selection {
  background-color: var(--primary-dark) !important;
  color: var(--primary-white) !important;
}


.tabSelect {
  width: auto;
  padding: 20px;
  font-size: 21px;
  border-top-right-radius: 30px;
  border-top-left-radius: 30px;

  transition: background-color ease 0.3s;
}


.tabSelected, .tabSelect:hover {
  background-color: var(--primary-dark);
  color: var(--primary-white);
}
