.recordingButton {
  font-size: 20px;
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #0070f3;
  border-radius: 4px;
  background-color: #0070f3;
  color: ivory;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  transition: color ease .3s;
  font-weight: 700; 
}

.recordingButton:hover {
  background-color: transparent;
  color: #0070f3
}

.fileupload {
  display: none;
}

.fileupload + label {
  display: block;
  margin-top: 20px;
  padding: 10px 20px;
  border: 2px solid #0070f3;
  border-radius: 4px;
  color: #0070f3;
  cursor: pointer;
  transition: background-color 0.3s ease-out;
  transition: color 0.3s ease;
  font-weight: 700;
}

.fileupload:focus + label, 
.fileupload + label:hover {
  background-color: #0070f3;
  color: ivory;
}

.audio {
  padding-top: 20px;
}

.uploadLabelUploaded:hover {
  background-color: #005ecb;
}

.actionRow {
  display: flex;
  align-items: center;
  gap: 15px;  
  margin-bottom: 20px;
}

.orText {
  color: #FFF;
  margin: 0 10px;
  font-size: 20px;
  padding-top: 15px;
}

.uploadLabel, .uploadLabelUploaded {
  font-size: 20px;
  padding: 10px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 60%;
}