.container {
  width: 90%;
}

.fileupload {
  display: none;
}

.fileupload + label {
  display: block;
  padding: 10px 15px;
  border: var(--border);
  color: var(--primary-dark);
  cursor: pointer;
  transition: background-color 0.3s ease;
  transition: color 0.3s ease;
  font-weight: 700;
  font-size: 26px;
  box-shadow: var(--box-shadow);
}

.fileupload:focus + label, 
.fileupload + label:hover {
  background-color: var(--primary-light);
  color: ivory !important;
}

.audio {
}

.uploadLabelUploaded {
  background-color: var(--primary-dark);
  color: var(--primary-white) !important; 
}

.uploadLabel, .uploadLabelUploaded {
  padding: 10px 15px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.actionRow {
  display: flex;
  align-items: center;
  gap: 30px; 
  margin-top: 40px; 
  margin-bottom: 40px;
}

.orText {
  color: var(--primary-dark);
  font-size: 30px;
}