.taskBox {
  border: var(--border);
  margin-top: 4vh;
  width: 100%;
  padding: 10px;
  display: flex;
  flex-direction: column; 
  gap: 10px;
}

.statusRow {
  padding: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.circle {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: inline-block;
  border: 2px solid black;
  box-shadow: var(--box-shadow);
}

.loading {
  background-color: #DBFF00;
  animation: fadeInOut 2s infinite;
}

.success {
  background-color: var(--success);
}

.failure {
  background-color: red;
}

.taskResult {
  padding: 10px;
  white-space: pre-line;
}

@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

