.button {
  border: 2px solid #2D2962;
  box-shadow: var(--box-shadow);
  background-color: transparent;
  padding: 10px 15px;
  color: var(--primary-dark);
  font-size: 26px;
  font-weight: bold;
  transition: background-color,color ease 0.3s;
  cursor: pointer;
  border-radius: 30px;
}

.button:hover, .button:focus {
  background-color: rgba(139, 144, 255, 0.65);;
  color: ivory;
}

.closeButton {
  border: 2px solid #2D2962;
  box-shadow: var(--box-shadow);
  background-color: var(--primary-white);
  padding: 10px 15px;
  color: var(--primary-dark);
  font-size: 26px;
  font-weight: bold;
  transition: background-color,color ease 0.3s;
  cursor: pointer;
  border-radius: 30px;
}
  
.closeButton:hover, .closeButton:focus {
  box-shadow: 0px 4px 12px 7px rgba(255, 255, 240, 0.20);
}

.submitButton {
  font-size: 26px;
  display: block;
  margin-top: 20px;
  padding: 15px 30px;
  border: none;
  border-radius: 30px;
  /* background: var(--primary-gradient); */
  box-shadow: var(--box-shadow);
  cursor: pointer;
  color: var(--primary-white);
  background: var(--primary-reverse-gradient);
  transition: background 1s ease;
  transition: color 0.3s ease;
  font-weight: 700;
  text-transform: lowercase;
  border: var(--border)
}

.submitButton:hover, .submitButton:focus {
  box-shadow: 0px 4px 12px 7px rgba(255, 255, 240, 0.20);
  border: 2px solid #D4D6FF;
}

.inputTitle {
  font-size: 1.6rem;
  font-weight: bold;
  color: var(--primary-dark);
}

.textInput {
  width: 100%;
  cursor: pointer;
  margin: 0 0;
  padding: 10px 20px;
  margin-bottom: 30px;
  border-radius: 30px;
  border: var(--secondary-border);
  background: var(--primary-light);
  color: var(--primary-dark);
  appearance: none; 
  font-size: 1.4rem;
  font-weight: 400;
  transition: background-color ease 0.3s;
}
.textInput:hover {
  box-shadow: 0px 4px 12px 7px rgba(255, 255, 240, 0.20);
  border: var(--border);
}

.textInput:focus {
  outline: none;
  border: var(--border);
}

.textInput::placeholder {
  color: var(--primary-white);
  font-style: italic;
}

.blur {
  filter: blur(3px);
  pointer-events: none; 
}

.stack {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.propName {
  color: var(--primary-dark);
  font-size: 28px;
}

.timestampHeader {
  color: var(--primary-dark);
}

.textResult {
  padding: 5px;
  white-space: pre-line;
  border: none;
}

.liveTextBox {
  font-size: 1.2rem;
  padding: 10px;
  padding-top: 30px;
  white-space: pre-line;
  /* border: var(--secondary-border); */
  /* border-radius: 15px; */
  /* box-shadow: var(--box-shadow); */
}

.liveTextBox:focus {
  outline: none;
}